RedirectMatch 404 controllers
RedirectMatch 404 models
RedirectMatch 404 views
RedirectMatch 404 assist
RedirectMatch 404 README.md
#ErrorDocument index.php?page=404

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,NC,L]


<FilesMatch "\.*$">
    Header set Expires "Thu, 15 Apr 1990 20:00:00 GMT"
</FilesMatch>