RedirectMatch 404 controllers
RedirectMatch 404 models
RedirectMatch 404 views
RedirectMatch 404 assist
RedirectMatch 404 README.md
#ErrorDocument index.php?page=404

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,NC,L]


ExpiresActive On

ExpiresByType text/css "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"

ExpiresByType text/plain "access plus 1 month"

ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"

ExpiresByType application/x-icon "access plus 1 year"
