.top-bar {
    background: #333;
    color: #fff;
}

@media only screen and (max-width: 40em) {
    .top-bar .top-bar-title {
        width: 100%;
    }
}

.top-bar .top-bar-title strong {
    color: #fff;
    margin: .4rem 0 .4rem .4rem;
    display: inline-block;
}

.top-bar .menu-hamburger {
    float: right;
}

@media only screen and (max-width: 40em) {
    .top-bar .menu-hamburger {
        padding: .4rem;
    }
}

.top-bar .menu-hamburger .menu-text {
    color: #fff;
}

.top-bar ul {
    background: #333;
}

.top-bar ul li a {
    color: #fff;
}

.top-bar .input-group {
    margin-bottom: 0;
}

.top-bar .dropdown.menu .submenu {
    border: none;
}

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a:after {
    border-color: #fff transparent transparent;
}

.top-bar .is-drilldown-submenu-parent > a::after, .top-bar .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
    border-color: transparent transparent transparent #fff;
}

.top-bar .js-drilldown-back > a:before, .top-bar .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a:after {
    border-color: transparent #fff transparent transparent;
}

code {
    white-space: pre-wrap;
}

.top-most {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#hidden-div {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;

    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

#hidden-div.visible {
    opacity: 1;
    max-height: 3000px;
    overflow: visible;
}

.label-bottom {
    border-bottom-left-radius: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.row > .small-centered {
    clear: both;
}